# Ignore build output folders
bin/
obj/

# Ignore app settings with sensitive info
appsettings.json
appsettings.*.json

# Ignore Chrome binaries
**/Chrome/**/*.dll
**/Chrome/**/*.exe

# Ignore user-specific files
*.user
*.suo

# Ignore IDE files
.vs/
.vscode
